---
// Header Lucrinho
---

<!-- Header -->
<div class="header-ed6d361ee809">
  <!-- Ícone de busca -->
  <div class="risearch-ed7dc28cca0e">
    <svg width="15.5" xmlns="http://www.w3.org/2000/svg" height="15.5" viewBox="0 0 15.5 15.5" fill="none">
      <path d="M11.645 10.482L14.411 13.248L13.498 14.161L10.732 11.395C9.737 12.191 8.476 12.667 7.104 12.667C3.896 12.667 1.292 10.063 1.292 6.854C1.292 3.646 3.896 1.042 7.104 1.042C10.313 1.042 12.917 3.646 12.917 6.854C12.917 8.226 12.441 9.487 11.645 10.482ZM10.349 10.002C11.139 9.189 11.625 8.078 11.625 6.854C11.625 4.356 9.602 2.333 7.104 2.333C4.606 2.333 2.583 4.356 2.583 6.854C2.583 9.352 4.606 11.375 7.104 11.375C8.328 11.375 9.439 10.889 10.253 10.099L10.349 10.002Z" fill="#292929"/>
    </svg>
  </div>

  <!-- AVALIAÇÕES -->
  <div class="a-v-a-l-i-a-e-s-ed7b861ae7ad">
    <div class="root-0">
      <div class="root-0-paragraph-set-0">
        <p class="root-0-paragraph-set-0-paragraph-0">
          <span class="root-0-paragraph-set-0-paragraph-0-text-0">AVALIAÇÕES</span>
        </p>
      </div>
    </div>
  </div>

  <!-- RENDA EXTRA -->
  <div class="r-e-n-d-a-e-x-t-r-ed7b55ca443d">
    <div class="root-0">
      <div class="root-0-paragraph-set-0">
        <p class="root-0-paragraph-set-0-paragraph-0">
          <span class="root-0-paragraph-set-0-paragraph-0-text-0">RENDA EXTRA</span>
        </p>
      </div>
    </div>
  </div>

  <!-- ECONÔMIA -->
  <div class="e-c-o-n-m-i-a-ed7b03599607">
    <div class="root-0">
      <div class="root-0-paragraph-set-0">
        <p class="root-0-paragraph-set-0-paragraph-0">
          <span class="root-0-paragraph-set-0-paragraph-0-text-0">ECONÔMIA</span>
        </p>
      </div>
    </div>
  </div>

  <!-- FERRAMENTAS -->
  <div class="f-e-r-r-a-m-e-n-t-a-ed7ae65393ab">
    <div class="root-0">
      <div class="root-0-paragraph-set-0">
        <p class="root-0-paragraph-set-0-paragraph-0">
          <span class="root-0-paragraph-set-0-paragraph-0-text-0">FERRAMENTAS</span>
        </p>
      </div>
    </div>
  </div>

  <!-- INVESTIMENTO -->
  <div class="i-n-v-e-s-t-i-m-e-n-ed7ad00563e1">
    <div class="root-0">
      <div class="root-0-paragraph-set-0">
        <p class="root-0-paragraph-set-0-paragraph-0">
          <span class="root-0-paragraph-set-0-paragraph-0-text-0">INVESTIMENTO</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <a href="/" aria-label="Lucrinho Home">
    <div class="logo-lucrin-ed781b57548d"></div>
  </a>
</div>

<style>
  @font-face {
    font-family: 'Trenda';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/src/assets/font/Trenda Semibold.otf') format('opentype');
  }

  * {
    box-sizing: border-box;
  }

  .text-node { 
    background-clip: text !important; 
    -webkit-background-clip: text !important; 
  }

  /* Header */
  .header-ed6d361ee809 {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background: #FFFFFFFF;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: end;
    align-content: stretch;
    justify-content: center;
    column-gap: 22.5px;
    padding: 13px 85px 13px 85px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(226, 232, 240, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }

  /* LogoLucrinho */
  .logo-lucrin-ed781b57548d {
    width: 133px;
    height: 24px;
    background: url(/LogoLucrinho.png) no-repeat center center / contain;
    border-radius: 0px 0px 0px 0px;
    flex-shrink: 0;
  }

  /* INVESTIMENTO */
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1 {
    width: 107px;
    height: 14px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(32, 29, 30, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(32, 29, 30, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "Trenda";
    font-style: normal;
    font-weight: 600;
  }
  .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1:hover .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: #007bff;
  }

  /* FERRAMENTAS */
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab {
    width: 102px;
    height: 14px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(32, 29, 30, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(32, 29, 30, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "Trenda";
    font-style: normal;
    font-weight: 600;
  }
  .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab:hover .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: #007bff;
  }

  /* ECONÔMIA */
  .e-c-o-n-m-i-a-ed7b03599607 {
    width: 83px;
    height: 14px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .e-c-o-n-m-i-a-ed7b03599607 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .e-c-o-n-m-i-a-ed7b03599607 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .e-c-o-n-m-i-a-ed7b03599607 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .e-c-o-n-m-i-a-ed7b03599607 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(32, 29, 30, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(32, 29, 30, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "Trenda";
    font-style: normal;
    font-weight: 600;
  }
  .e-c-o-n-m-i-a-ed7b03599607:hover .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: #007bff;
  }

  /* RENDA EXTRA */
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d {
    width: 101px;
    height: 14px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(32, 29, 30, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(32, 29, 30, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "Trenda";
    font-style: normal;
    font-weight: 600;
  }
  .r-e-n-d-a-e-x-t-r-ed7b55ca443d:hover .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: #007bff;
  }

  /* AVALIAÇÕES */
  .a-v-a-l-i-a-e-s-ed7b861ae7ad {
    width: 90px;
    height: 14px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .a-v-a-l-i-a-e-s-ed7b861ae7ad .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .a-v-a-l-i-a-e-s-ed7b861ae7ad .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .a-v-a-l-i-a-e-s-ed7b861ae7ad .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .a-v-a-l-i-a-e-s-ed7b861ae7ad .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(32, 29, 30, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(32, 29, 30, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "Trenda";
    font-style: normal;
    font-weight: 600;
  }
  .a-v-a-l-i-a-e-s-ed7b861ae7ad:hover .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: #007bff;
  }

  /* ri-search-line */
  .risearch-ed7dc28cca0e {
    position: relative;
    width: 15.5px;
    height: 15.5px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .risearch-ed7dc28cca0e:hover path {
    fill: #007bff;
  }

  /* Responsive - Mobile */
  @media (max-width: 768px) {
    .header-ed6d361ee809 {
      padding: 13px 24px;
      flex-wrap: wrap;
      row-gap: 16px;
    }

    .logo-lucrin-ed781b57548d {
      width: 110px;
      height: auto;
    }

    /* Esconder itens de menu em mobile */
    .i-n-v-e-s-t-i-m-e-n-ed7ad00563e1,
    .f-e-r-r-a-m-e-n-t-a-ed7ae65393ab,
    .e-c-o-n-m-i-a-ed7b03599607,
    .r-e-n-d-a-e-x-t-r-ed7b55ca443d,
    .a-v-a-l-i-a-e-s-ed7b861ae7ad {
      display: none;
    }
  }
</style>
